In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
raw_data = pd.read_csv('data/who/who.csv',index_col=0)

In [3]:
columns = ['year', 'status', 'label', 'adult_mortality', 'infant_deaths', 'alcohol', 'pct_expenditure',
          'hep_b', 'measles', 'bmi', 'under_5_deaths', 'polio', 'total_expenditure', 'diptheria',
          'hiv_aids', 'gdp', 'population', 'thinness_119', 'thinness_59', 'income_comp', 'schooling']

In [4]:
raw_data.columns = columns

In [5]:
data = raw_data.drop(columns=['year', 'status'])

In [6]:
d = data.reset_index().drop(columns=['Country'])
d = d.drop(d[d.label.isnull()].index,axis=0)
d = d.reset_index().drop(columns=['index'])

In [7]:
d.fillna(d.median(), inplace=True)

In [43]:
train, test = train_test_split(d, random_state=0)

In [11]:
train.to_csv('data/who/who_train.csv',index=False)
test.to_csv('data/who/who_test.csv', index=False)

In [44]:
train

,label,adult_mortality,infant_deaths,alcohol,pct_expenditure,hep_b,measles,bmi,under_5_deaths,polio,total_expenditure,diptheria,hiv_aids,gdp,population,thinness_119,thinness_59,income_comp,schooling
1362,62.6,258.0,58,1.84,165.930498,93.0,190,2.7,81,94.0,5.57,87.0,3.0,1229.114798,44826849.0,7.9,7.7,0.541,11.1
896,69.9,188.0,0,3.77,0.000000,99.0,0,62.7,0,99.0,5.75,99.0,0.1,4921.896290,892149.0,4.0,3.7,0.734,15.3
1901,47.7,49.0,571,9.61,17.137754,92.0,42007,17.8,928,4.0,2.43,25.0,5.3,459.457212,12866671.0,13.8,13.8,0.000,7.7
390,73.2,152.0,1,10.93,661.514433,96.0,2249,62.1,1,94.0,6.78,94.0,0.1,6955.987733,7444443.0,2.0,2.1,0.768,13.8
1293,80.0,72.0,2,9.25,2883.334911,95.0,9385,56.4,3,96.0,8.23,93.0,0.1,22196.573600,57597.0,0.5,0.5,0.836,15.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,58.1,326.0,2,1.18,106.035466,92.0,71,29.8,2,64.0,6.76,64.0,4.0,864.184726,77752.0,6.0,5.9,0.388,3.7
835,56.7,337.0,3,11.89,1500.412635,92.0,1190,23.0,4,3.0,4.00,24.0,8.2,21557.652800,138593.0,8.7,8.7,0.583,9.2
1653,62.0,214.0,8,0.01,8.353075,64.0,1292,27.4,12,52.0,3.28,64.0,1.2,123.383675,369543.0,8.7,8.5,0.484,7.6
2607,58.7,276.0,3,0.50,49.069672,92.0,0,11.9,4,93.0,3.26,93.0,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0
2732,67.6,256.0,6,5.92,21.223864,77.0,411,55.7,6,99.0,6.93,97.0,0.9,148.522488,4781295.0,2.8,2.9,0.691,14.3

In [45]:
train = train.reset_index().drop(columns=['index'])
test = test.reset_index().drop(columns=['index'])

In [47]:
new_labels = np.zeros(len(train))
med = np.median(train.label)
for i in range(len(train.index)):
    if train.label[i] >= med:
        new_labels[i] = 1

In [48]:
new_test_labels = np.zeros(len(test))
for i in range(len(test.index)):
    if test.label[i] >= med:
        new_test_labels[i] = 1

In [51]:
train_bin = train.copy()
test_bin = test.copy()

In [52]:
train_bin['label'] = new_labels
test_bin['label'] = new_test_labels

In [55]:
test_bin.label = test_bin.label.astype(int)

In [57]:
train_bin.label = train_bin.label.astype(int)

In [59]:
train_bin

,label,adult_mortality,infant_deaths,alcohol,pct_expenditure,hep_b,measles,bmi,under_5_deaths,polio,total_expenditure,diptheria,hiv_aids,gdp,population,thinness_119,thinness_59,income_comp,schooling
0,0,258.0,58,1.84,165.930498,93.0,190,2.7,81,94.0,5.57,87.0,3.0,1229.114798,44826849.0,7.9,7.7,0.541,11.1
1,0,188.0,0,3.77,0.000000,99.0,0,62.7,0,99.0,5.75,99.0,0.1,4921.896290,892149.0,4.0,3.7,0.734,15.3
2,0,49.0,571,9.61,17.137754,92.0,42007,17.8,928,4.0,2.43,25.0,5.3,459.457212,12866671.0,13.8,13.8,0.000,7.7
3,1,152.0,1,10.93,661.514433,96.0,2249,62.1,1,94.0,6.78,94.0,0.1,6955.987733,7444443.0,2.0,2.1,0.768,13.8
4,1,72.0,2,9.25,2883.334911,95.0,9385,56.4,3,96.0,8.23,93.0,0.1,22196.573600,57597.0,0.5,0.5,0.836,15.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2191,0,326.0,2,1.18,106.035466,92.0,71,29.8,2,64.0,6.76,64.0,4.0,864.184726,77752.0,6.0,5.9,0.388,3.7
2192,0,337.0,3,11.89,1500.412635,92.0,1190,23.0,4,3.0,4.00,24.0,8.2,21557.652800,138593.0,8.7,8.7,0.583,9.2
2193,0,214.0,8,0.01,8.353075,64.0,1292,27.4,12,52.0,3.28,64.0,1.2,123.383675,369543.0,8.7,8.5,0.484,7.6
2194,0,276.0,3,0.50,49.069672,92.0,0,11.9,4,93.0,3.26,93.0,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0
2195,0,256.0,6,5.92,21.223864,77.0,411,55.7,6,99.0,6.93,97.0,0.9,148.522488,4781295.0,2.8,2.9,0.691,14.3

In [60]:
train_bin.to_csv('data/who/whobin_train.csv',index=False)
test_bin.to_csv('data/who/whobin_test.csv', index=False)

END preprocessing on actual who data

In [68]:
sum(y)/len(y)
y_bin = [0 for x in range(len(y))]
for i in range(len(y)):
    if y[i]> 73.7:
        y_bin[i] = 1

In [69]:
X_train = X[0:136]
X_test = X[136:]

In [70]:
y_bin_train = y_bin[0:136]
y_bin_test = y_bin[136:]

In [42]:
s = StandardScaler()
s.fit(X_train)
X_train = s.transform(X_train)
X_test = s.transform(X_test)

In [71]:
X_train = pd.DataFrame(X_train, index=X.index[0:136], columns=X.columns)
X_test = pd.DataFrame(X_test, index=X.index[136:], columns=X.columns)

In [72]:
X_train['label'] = y_bin_train
X_test['label'] = y_bin_test

In [74]:
X_train.to_csv("data/who/whobin_train.csv",index=False)
X_test.to_csv("data/who/whobin_test.csv", index=False)

In [75]:
processed = np.load('robust-grads/processed_who_data.npy')

In [78]:
processed = pd.DataFrame(processed, columns=X.columns)

In [79]:
processed

,population,tb_rate,anemia_rate,childhood_obesity_rate,alcohol_consumption_pp,tobacco_use_rate,doctor_density,births_with_provider,clean_energy_reliance,homicide_rate,water_sanitation_aid
0,-0.048987,0.568345,1.175576,-1.048981,-1.400405,0.384750,-1.013803,-1.712751,-0.909582,0.011717,1.242965
1,-0.256841,-0.675093,-0.194287,-0.111490,0.248726,0.267623,-0.066614,0.691659,0.386862,-0.380166,0.050225
2,-0.020603,-0.369055,0.449889,1.087382,-1.300979,0.112665,-0.165034,0.616342,0.895743,-0.559454,-0.536201
3,-0.083938,1.667267,1.308096,-1.150776,0.485698,0.018320,-1.028644,-2.454796,-0.448152,0.052266,-0.518778
4,-0.272869,-0.768140,-0.786246,0.656765,0.850875,0.011827,0.449921,0.619969,0.899095,-0.500252,-0.578756
...,...,...,...,...,...,...,...,...,...,...,...
131,-0.256824,-0.544413,0.050597,2.277723,-1.051666,-0.893370,0.271223,0.683589,0.900793,-0.653631,-0.577396
132,0.022168,-0.438387,-1.079464,0.078042,0.670763,0.106160,0.288332,0.687987,0.899384,-0.625279,-0.576180
133,-0.250176,-0.263775,-0.104269,-0.814078,1.754670,0.989486,0.629721,0.677125,0.789489,-0.339509,-0.252831
134,-0.162514,-0.332730,-0.377516,-0.011460,1.616156,0.890514,0.561676,0.234402,0.570717,-0.572846,-0.575922
135,0.567980,-0.459025,-0.503254,-0.234166,1.196628,0.771637,1.048632,0.691111,0.522213,-0.042528,-0.577650

In [84]:
X = pd.read_csv('data/who/whobin_train.csv')

In [86]:
X

,population,tb_rate,anemia_rate,childhood_obesity_rate,alcohol_consumption_pp,tobacco_use_rate,doctor_density,births_with_provider,clean_energy_reliance,homicide_rate,water_sanitation_aid,label
0,38928,193,42.6,3.1,0.0,23.30,2.5,62.0,33.0,8.5,140.29,0
1,2878,15,24.8,7.6,6.8,22.40,18.8,100.0,81.0,3.6,48.53,1
2,43851,59,33.3,13.5,0.6,21.00,17.2,99.0,100.0,1.7,3.01,1
3,32866,350,44.5,2.4,7.8,19.95,2.1,50.0,50.0,9.2,4.61,0
4,98,2,17.2,11.5,9.4,19.95,27.7,99.0,100.0,2.4,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2881,34,28.1,19.5,1.5,11.80,24.9,100.0,100.0,0.5,0.00,1
132,51269,49,13.5,8.5,8.5,20.80,24.8,100.0,100.0,0.8,0.00,1
133,4034,74,26.1,4.2,12.9,29.00,31.0,100.0,96.0,4.1,25.06,0
134,19238,64,22.7,8.1,12.3,28.00,29.8,93.0,88.0,1.3,0.00,1
135,145934,46,21.1,7.1,10.5,26.80,38.2,100.0,86.0,7.8,0.00,0

In [2]:
a = pd.read_csv('data/who/who_train.csv')

In [4]:
a

,label,adult_mortality,infant_deaths,alcohol,pct_expenditure,hep_b,measles,bmi,under_5_deaths,polio,total_expenditure,diptheria,hiv_aids,gdp,population,thinness_119,thinness_59,income_comp,schooling
0,66.8,193.0,1100,3.00,64.605901,44.0,33634,16.4,1500,79.0,4.33,82.0,0.2,1461.671957,124723629.0,26.9,27.7,0.580,10.8
1,76.9,11.0,1,12.22,1657.328352,7.0,0,5.9,1,96.0,9.10,97.0,0.1,11729.146160,1362722.0,0.8,0.6,0.782,15.7
2,81.5,68.0,2,8.20,971.928038,7.0,803,64.7,2,87.0,1.82,87.0,0.1,5282.217600,3434278.0,0.5,0.5,0.903,15.9
3,66.7,215.0,4,3.31,0.000000,99.0,2,36.5,5,99.0,5.43,98.0,0.1,NaN,NaN,3.5,3.5,0.601,12.1
4,57.9,251.0,26,0.34,6.064221,NaN,24789,17.9,49,49.0,4.98,52.0,0.6,481.287397,1134497.0,12.1,12.1,0.381,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2198,78.0,179.0,4,9.78,180.109513,98.0,10,51.9,5,99.0,4.36,99.0,0.1,1839.729450,2213197.0,3.8,4.2,0.708,11.7
2199,74.4,121.0,1,3.89,274.152699,95.0,0,52.6,1,96.0,4.48,95.0,0.1,3684.848100,2881922.0,2.0,2.1,0.732,12.7
2200,85.0,67.0,0,6.60,14829.412150,NaN,0,57.5,0,93.0,8.58,93.0,0.1,85128.657590,479153.0,0.7,0.7,0.934,17.6
2201,73.9,118.0,23,1.40,106.948290,94.0,4,61.1,27,96.0,6.80,96.0,0.1,936.499911,71339185.0,4.9,4.8,0.709,12.5
2202,64.9,321.0,19,11.50,46.515595,96.0,2444,55.0,21,98.0,5.19,97.0,0.3,412.372294,1446754.0,2.5,2.8,0.741,13.6

In [11]:
a.isnull().values.any()

True

In [12]:
a[a['label'].isnull()]

,label,adult_mortality,infant_deaths,alcohol,pct_expenditure,hep_b,measles,bmi,under_5_deaths,polio,total_expenditure,diptheria,hiv_aids,gdp,population,thinness_119,thinness_59,income_comp,schooling
530,NaN,NaN,0,0.01,0.000000,69.0,0,NaN,0,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
759,NaN,NaN,0,NaN,344.690631,99.0,0,83.3,0,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
1007,NaN,NaN,0,0.01,871.878317,8.0,0,81.6,0,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1107,NaN,NaN,0,0.01,15.606596,87.0,0,87.3,0,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1209,NaN,NaN,0,0.01,11.419555,96.0,0,58.4,0,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1231,NaN,NaN,0,0.01,0.000000,99.0,0,NaN,0,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1586,NaN,NaN,0,0.01,0.000000,98.0,0,82.8,0,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN